* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/newbg.png')
}

.parents {
    height: 400px;
    width: 1000px;
    float: left;
    border: 5px solid black;
    background-image: url('img/personal-info.png') 
}

img {
    border: 5px solid black;
}
 .photo {
     float: right;
 }

 h1 {
     text-decoration: underline;
     font-size: 50px;
 }

p {
    font-size: 25px;
    margin-top: 50px;
}

 h1,
  p {
      margin-left: 50px;
  }

  #wrap {
      padding-top: 150px;
      padding-left: 100px;
      padding-right: 100px;
  }

/* navbar */

ul {
    list-style: none;
    background-color: black;
    overflow: hidden;
}

li {
    float: left;
    text-align: center;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

header {
    margin: 0;
}